.tracksWrapper{
    padding: 100px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    height: 900px;

    background: url(../../../public/assets/main2.svg) no-repeat;
    background-position: 0px -170px;
}

.tracksContent h1{
    font-size: 56px;
    margin-bottom: 10px;
}

.tracksContent h1 span{
    background-image: linear-gradient(rgb(94, 162, 239) 25%, rgb(0, 114, 245) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tracksContent p{
    line-height: 24px;
    color: #979da2;
}

.tracksCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.tracksCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );

    width: 250px;
    padding: 20px;
    border-radius: 20px;
}

.tracksCardUpper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.tracksCardUpper img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 20px;
    background: rgb(42, 22, 60);
    padding: 3px;
}

.tracksCardLower{
    font-size: 1rem;
    color: #979da2;
}